body {
    width: 980px;
    margin: auto;
}

#container
{
width: 960px;
margin: 3px auto;
color: #333;
border: none;
line-height: 100%;
font-family: Verdana;
font-size: small;
}

.pageheading
{
    text-align: center;
    font-family: Verdana;
    font-size: x-large;
    font-weight: bold;
}

.sectionheading
{
    font-family: Verdana;
    font-size: large;
    font-weight: bold;
}

.fieldlabel
{    
    font-family: Verdana;
    font-weight: normal;    
}

.textboxlabel
{
    display: block !important;
}

.formfield
{
    font-family: Verdana;
    font-weight: normal;
}

.wetfacilmapbutton {
    float: right;
}

.gridwithborder {
    border:solid
}