<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://uat-permitsearch.gaepd.org</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <ProjectGuid>7AFF158B-FA88-41AA-B664-141628A9B18B</ProjectGuid>
        <MSDeployServiceURL>uat-permitsearch.gaepd.org</MSDeployServiceURL>
        <DeployIisAppPath>permitsearch</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
        <UserName/>
        <_SavePWD>False</_SavePWD>
    </PropertyGroup>
</Project>
