<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mindscape.Raygun4Net" version="11.1.0" targetFramework="net48" />
  <package id="Mindscape.Raygun4Net.Core" version="11.1.0" targetFramework="net48" />
  <package id="NWebsec" version="6.0.0" targetFramework="net48" />
  <package id="NWebsec.Core" version="3.0.1" targetFramework="net48" />
  <package id="SonarAnalyzer.VisualBasic" version="9.32.0.97167" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net45" version="2024.1.131" targetFramework="net48" />
</packages>