<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mindscape.Raygun4Net" version="5.13.0" targetFramework="net48" />
  <package id="SonarAnalyzer.VisualBasic" version="8.36.1.44192" targetFramework="net48" developmentDependency="true" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net45" version="2022.1.302" targetFramework="net48" />
</packages>