<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mindscape.Raygun4Net" version="5.13.0" targetFramework="net48" />
  <package id="NWebsec" version="6.0.0" targetFramework="net48" />
  <package id="NWebsec.Core" version="3.0.1" targetFramework="net48" />
  <package id="SonarAnalyzer.VisualBasic" version="8.51.0.59060" targetFramework="net48" developmentDependency="true" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net45" version="2022.2.622" targetFramework="net48" />
</packages>