:root {
	-webkit-print-color-adjust: exact;
}
html {
	width: 100%; height: 100%;
}
body {
	background: rgb(204, 204, 204); margin: auto; width: 950px; font-family: verdana; font-size: 10pt;
}
.CCC {
	margin: 0px; overflow: hidden; font-family: verdana; font-size: 8pt;
}
#dInfo a {
	color: blue; font-weight: bold; text-decoration: none;
}
#dInfo p {
	margin: 0.8em 0em;
}
#dInfo ul {
	margin-bottom: 0.8em;
}
button {
	border: 1px outset currentColor; border-image: none; padding-right: 1px; padding-left: 1px;
}
button {
	padding: 0px 0.3em; overflow: visible;
}
button {
	vertical-align: top;
}
.zcHeader {
	background: rgb(59, 89, 152); padding: 0.6em 0.5em; height: 1.2em; color: rgb(248, 248, 248); font-family: Tahoma; font-size: 8pt; font-weight: bold; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.ha {
	color: green; display: inline;
}
.cHeader span {
	padding: 0.4em 1em; color: rgb(51, 51, 51); border-bottom-color: silver; border-bottom-width: 1px; border-bottom-style: solid; display: block; cursor: pointer;
}
.cHeader span:hover {
	background: rgb(187, 255, 187);
}
.cHeader div {
	background: lightyellow; padding: 1em; border: 1px solid black; border-image: none; width: 90px; text-align: left; overflow: visible; margin-top: 0.4em; z-index: 1000;
}
.cHeader a {
	width: 80px; height: 1.6em; text-align: center; color: white; overflow: hidden; text-decoration: none; float: left; display: block; cursor: pointer;
}
.cHeader a:hover {
	background: rgb(102, 102, 255); overflow: visible;
}
#menu {
	background: rgb(59, 89, 152); width: 100%; float: left; z-index: 10000;
}
#menu ul {
	list-style: none; margin: 0px; padding: 0px; width: 85px; float: left;
}
#menu a {
	margin: 0px; padding: 2px 3px; text-align: center; display: block;
}
#menu h2 {
	margin: 0px; padding: 2px 3px; text-align: center; display: block;
}
#menu h2 {
	color: rgb(255, 255, 255); font-weight: bold;
}
#menu a {
	color: white; text-decoration: none;
}
#menu a:hover {
	background: lightblue; color: rgb(51, 51, 51);
}
#menu ul ul a {
	padding: 0.5em 1em; text-align: left; color: rgb(68, 68, 68);
}
#menu li {
	position: relative;
}
#menu ul ul ul {
	left: 100%; top: 0px; position: absolute;
}
#menu ul ul {
	background: rgb(170, 255, 221); border: 1px solid black; border-image: none; color: green; position: absolute; z-index: 10000;
}
div#menu ul ul {
	display: none;
}
div#menu ul li:hover ul {
	display: block;
}
div#menu ul ul {
	display: none;
}
div#menu ul li:hover ul ul {
	display: none;
}
div#menu ul ul li:hover ul ul {
	display: none;
}
div#menu ul li:hover ul {
	display: block;
}
div#menu ul ul li:hover ul {
	display: block;
}
div#menu ul ul ul li:hover ul {
	display: block;
}
body {
	behavior: url(csshover.htc);
}
.Announcements {
	background: white; border: 1px solid black; border-image: none; color: rgb(51, 51, 51); overflow: hidden; position: relative;
}
.Announcements * {
	margin: 0px; padding: 0px; line-height: 20px; position: relative; transform: rotate(0deg); -webkit-font-smoothing: antialiased; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0px); -moz-transform: rotate(0);
}
.Announcements p {
	margin: 0px;
}
.Announcements ul {
	padding: 10px 20px;
}
.Announcements a {
	border: currentColor; border-image: none; color: rgb(51, 102, 153); font-size: 90%; font-weight: bold; text-decoration: none;
}
.Announcements a:hover {
	text-decoration: underline;
}
.Announcements div:hover {
	opacity: 1 !important;
}
#menu1 {
	width: 960px; position: absolute;
}
#menu1 img {
	border: currentColor; border-image: none; display: block;
}
#menuDiv {
	background: rgb(192, 192, 192); width: 0px; height: 88px; float: left;
}
#menu1 img:first-of-type {
	float: left;
}
#menu0 {
	height: 88px;
}
#menu2 {
	background: rgb(59, 89, 152); font: 11px/normal verdana; margin: 0px; padding: 0.3em 0px 0px; width: 100%; height: 25px; text-align: justify; font-size-adjust: none; font-stretch: normal;
}
#menu2 > li {
	padding: 0px; display: inline-block; position: relative;
}
#menu2 a {
	font: inherit; color: white; font-size-adjust: inherit; font-stretch: inherit;
}
#menu2 > li:hover {
	background: lightblue; box-sizing: border-box; border-top-left-radius: 8px; border-top-right-radius: 8px;
}
#menu2 > li:hover > div {
	display: block;
}
#menu2 > li div {
	background: rgb(152, 59, 89); padding: 0.5em; border: currentColor; border-image: none; width: 16em; text-align: left; display: none; position: absolute; z-index: 1000; border-top-right-radius: 20px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#menu2 a {
	padding: 0.5em; text-decoration: none; display: block;
}
#menu2 > li:hover > a {
	color: black !important;
}
#menu2 div a:hover {
	background: rgb(51, 102, 153); border-radius: 10px;
}
#menu2 li {
	display: inline-block;
}
#menu2 > .signin a {
	color: rgb(255, 187, 187) !important; font-size: 90%;
}
#menu2 > .signout a {
	text-align: right; color: rgb(136, 255, 136) !important; font-size: 90%;
}
#menu2 li li {
	display: block;
}
#menu2 li ul {
	padding: 0px;
}
#menu2 li li a {
	padding: 0.3em;
}
#menu2 li span {
	color: yellow; font-size: 90%; font-weight: bold;
}
.stretcher {
	width: 100%; display: inline;
}
#MainDiv .Menu {
	height: 158px;
}
