* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    font-family: Verdana, sans-serif;
}

body {
    background: #f5f5f6 url(/images/header-bg.png) repeat-x top left;
}

#header {
    clear: both;
    height: 120px;
    padding-top: 10px;
}

#logo {
    padding-left: 20px;
    float: left;
}

h1 {
    padding: 15px 10px;
    color: #203119;
    line-height: 2;
}

#container {
    max-width: 960px;
    margin: 0px auto;
    color: #333;
    line-height: 100%;
    font-size: small;
    border: none;
}

a img {
    border: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.maincontent {
    background-color: #ffffff;
    color: #000;
    line-height: 1.714em;
    margin: 0;
    padding: 20px;
    width: 97%;
    margin-bottom: 15px;
    height: 100%;
}

    .maincontent p {
        margin-bottom: 15px;
        margin-top: 5px;
    }

.form-banner {
    text-align: center;
    color: white;
    background-color: #203119;
    padding: 16px 0;
    line-height: 1.4;
    margin-bottom: 20px;
}

.button-row {
    margin: 20px 0;
}

/* doc list */
ul {
    margin-left: 5px;
}

    ul.nul {
        list-style: none;
    }

/* RadGrid overrides */
.rgMasterTable tbody td {
    vertical-align: baseline;
    line-height: 1.6;
    padding: 6px 15px !important;
}

.RadGrid .rgPagerCell {
    padding: 10px 4px !important;
}

.RadGrid .rgHeader a {
    text-decoration: underline !important;
}

.RadGrid_Bootstrap .rgRow,
.RadGrid_Bootstrap .rgAltRow,
.RadGrid_Bootstrap .rgEditRow,
.RadGrid_Bootstrap .rgFooter,
.RadGrid_Bootstrap .rgGroupHeader {
    height: auto !important;
}

/* Autocomplete entries */
.autocomplete-entry {
    display: flex;
    flex-direction: row;
}

    .autocomplete-entry span:first-child {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #999;
    }

    .autocomplete-entry span:last-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 2;
    }

/* Footer links */
.footer-links {
    text-align: center;
    line-height: 16px;
    margin-bottom: 10px;
}

    .footer-links a {
        color: #92501a;
        text-decoration: none;
    }

        .footer-links a:hover, .footer-links a:focus {
            text-decoration: underline;
        }

/* Test site banner */
.banner-test-site {
    text-shadow: 0 0 4px white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    line-height: 1.5;
    color: #333;
    font-size: 16px;
    font-family: system-ui;
    background: repeating-linear-gradient(135deg,#f6da52cc,#f6da52cc 10px,#ffef80cc 10px,#ffef80cc 20px);
    box-shadow: 0 4px 8px rgba(130, 106, 15, 0.37);
}

/* Print */
@media print {
    html, body {
        font-size: 12px;
        color: #000;
    }

    .banner-test-site {
        position: static;
        box-shadow: none;
        text-shadow: none;
        border: 1px solid;
    }

        .banner-test-site::after {
            content: "—Not for public distribution";
        }
}
