* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    font-family: Verdana, sans-serif;
}

header {
    width: 100%;
    position: relative;
}

div#header {
    clear: both;
    height: 120px;
}

#container {
    max-width: 960px;
    margin: 0px auto;
    color: #333;
    border: 1px solid gray;
    line-height: 100%;
    font-size: small;
}

a img {
    border: none;
}

a:hover {
    text-decoration: none;
}

.maincontent {
    background-color: #ffffff;
    color: #000;
    line-height: 1.714em;
    margin: 0;
    padding: 20px;
}

    .maincontent p {
        margin-bottom: 15px;
        margin-top: 5px;
    }

/* Utility classes */
div.ul a {
    display: list-item;
}

/* RadGrid overrides */
.rgMasterTable tbody td {
    vertical-align: baseline;
    line-height: 1.6;
    padding: 6px 15px !important;
}

.RadGrid .rgPagerCell {
    padding: 10px 4px !important;
}

.RadGrid .rgHeader a {
    text-decoration: underline !important;
}

.RadGrid_Bootstrap .rgRow,
.RadGrid_Bootstrap .rgAltRow,
.RadGrid_Bootstrap .rgEditRow,
.RadGrid_Bootstrap .rgFooter,
.RadGrid_Bootstrap .rgGroupHeader {
    height: auto !important;
}

/* Autocomplete entries */
.autocomplete-entry {
    display: flex;
    flex-direction: row;
}

    .autocomplete-entry span:first-child {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #999;
    }

    .autocomplete-entry span:last-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 2;
    }
