body {
  line-height: 18px;
}
.outer-content-wrapper {
  padding-top: 0;
  width: 985px;
}
.outer-content-shadow {
  width: 1020px;
}
table,
div.view-cases table {
  border: none;
}
#topper div.topper-inner {
  margin: 0 auto;
  padding-left: 140px;
  position: relative;
  width: 978px;
}
#topper div.topper-inner a.georgia-gov-link {
  margin: 0;
}
/* GTA-1341 Logo, Title, Slogan */
#zone-branding-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: auto;
}
#zone-branding-wrapper .branding-data {
  width: 620px;
  float: left;
}
#zone-branding-wrapper .branding-data .logo-title {
  padding-right: 0;
}
#zone-branding-wrapper .branding-data .logo-img {
  max-width: 136px;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: relative;
  float: left;
}
#zone-branding-wrapper .branding-data .logo-img #logo {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
#zone-branding-wrapper .branding-data h1.site-name,
#zone-branding-wrapper .branding-data h2.site-name {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  float: left;
  margin-top: 25px;
  margin-left: 14px;
  padding-left: 0;
  font-size: 36px;
  width: 470px;
}
#zone-branding-wrapper .branding-data .site-slogan {
  clear: both;
  float: left;
  margin-top: 5px;
}
#region-branding .branding-content {
  float: right;
  width: 310px;
}
#region-branding #block-search-form,
#region-branding #block-gsa-search-gsa-search-form,
#region-branding #block-menu-menu-utility,
#region-branding .block-gta-search-box {
  display: block !important;
}
#region-branding #block-search-form.force-hide,
#region-branding #block-gsa-search-gsa-search-form.force-hide,
#region-branding #block-menu-menu-utility.force-hide,
#region-branding .block-gta-search-box.force-hide {
  display: none !important;
}
#region-branding #block-search-form,
#region-branding #block-gsa-search-gsa-search-form,
#region-branding .block-gta-search-box {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}
#region-branding #block-search-form .form-type-textfield,
#region-branding #block-gsa-search-gsa-search-form .form-type-textfield,
#region-branding .block-gta-search-box .form-type-textfield {
  top: 10px;
  left: 10px;
  right: 46px;
}
#zone-menu-wrapper {
  position: relative;
  top: 0;
  max-width: 100%;
  overflow: visible;
}
#mobile-menu,
#mobile-tools {
  display: none !important;
}
.section-content .block-gta-search-box {
  display: block !important;
}
/* Full width content rotator */
.block-boxes-rotator_box {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
}
.block-boxes-rotator_box .block-inner {
  margin-bottom: -30px;
  /* There are issues after editing box that the title ends up appended there automatically with <none></none> in the code. */
}
.block-boxes-rotator_box .block-inner h2.block-title {
  display: none;
}
.block-boxes-rotator_box .block-inner ul.slides {
  min-height: 300px;
  position: relative;
  /* Must have LI's set to display:none to start so that they don't "overlay" each other */
}
.block-boxes-rotator_box .block-inner ul.slides li {
  /* This is the CSS that the JS adds inline, but doesn't appear when there
        is only one slide and no rotation. */
  float: left;
  width: 100%;
}
.block-boxes-rotator_box .block-inner ul.slides li a {
  text-decoration: none;
}
.block-boxes-rotator_box .block-inner ul.slides > li {
  display: none;
  position: relative;
}
.block-boxes-rotator_box .field-collection-container .field-items .field-item {
  margin-bottom: 0;
}
.block-boxes-rotator_box .rotator-image {
  float: right;
  width: 50%;
}
.block-boxes-rotator_box .rotator-read-more {
  margin: 15px auto;
}
.block-boxes-rotator_box .field-name-field-box-rotator-title h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}
.block-boxes-rotator_box .rotator-data {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  padding: 0;
}
.block-boxes-rotator_box .rotator-data .rotator-gradient {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
.block-boxes-rotator_box .rotator-data .rotator-gradient .rotator-center {
  width: 90%;
  margin: 0 auto;
}
.block-boxes-rotator_box .rotator-data .rotator-gradient .rotator-center h3 {
  font-size: 27px;
  margin-top: 20px;
}
.block-boxes-rotator_box .field-name-field-collection-rotator {
  position: relative;
}
.block-boxes-rotator_box .box-rotator-pager {
  position: absolute;
  bottom: 50px;
  width: 50%;
  margin-bottom: -30px;
  display: none;
}
.block-boxes-rotator_box .box-rotator-pager .item-list {
  text-align: center;
}
.block-boxes-rotator_box .box-rotator-pager .item-list ul {
  margin: 0;
  padding: 0;
}
.block-boxes-rotator_box .box-rotator-pager .item-list ul li {
  margin: 0;
  padding: 0;
}
.block-boxes-rotator_box .box-rotator-pager .item-list ul li a {
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 10px;
}
.block-boxes-rotator_box .box-rotator-pager .item-list ul li:last-child a {
  margin-right: 0;
}
.block-boxes-rotator_box .read-more-item {
  text-align: center;
}
.block-boxes-rotator_box .flex-control-nav {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.block-boxes-rotator_box .field-collection-container {
  border-bottom: 0;
  margin-bottom: 0;
}
.block-boxes-rotator_box .field-collection-view {
  border: 0;
  margin: 0;
  padding: 0;
}
.block-boxes-rotator_box .field-collection-view a,
.block-boxes-rotator_box .field-collection-view a:link,
.block-boxes-rotator_box .field-collection-view a:visited {
  text-decoration: none;
}
.block-boxes-rotator_box .field-collection-view ul.field-collection-view-links {
  float: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0;
  margin-right: 0;
}
.block-boxes-rotator_box .field-collection-view ul.field-collection-view-links a,
.block-boxes-rotator_box .field-collection-view ul.field-collection-view-links a:link,
.block-boxes-rotator_box .field-collection-view ul.field-collection-view-links a:visited {
  text-decoration: underline;
}
.block-boxes-rotator_box .field-collection-view ul.field-collection-view-links a:hover {
  text-decoration: none;
}
.block-boxes-rotator_box .action-links {
  display: none;
}
.block-boxes-rotator_box .field-name-field-box-rotator-title h3 {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.block-boxes-rotator_box .field-name-field-box-rotator-description {
  font-size: 14px;
  line-height: 18px;
}
.block-boxes-rotator_box .flex-pauseplay {
  display: none;
}
#block-menu-block-gta-navigation-sidebar {
  display: block;
}
#region-sidebar-first {
  margin-left: -13px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 220px;
}
#region-sidebar-second {
  margin-right: 0;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 180px;
}
body.in-book #region-sidebar-second.grid-3 {
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}
#zone-preface-wrapper #zone-preface section p,
#region-content,
#zone-preface {
  font-size: inherit;
  line-height: inherit;
}
#region-content.grid-12 {
  width: 700px;
}
#region-content.grid-8,
#region-content.grid-9 {
  width: 520px;
}
/* skinny region-content on book pages */
body.in-book #region-content.grid-13 {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 640px;
}
#zone-content .grid-13 {
  width: 740px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}
#zone-content .block-views-blog-topic-nav-block .view-content {
  max-height: 280px;
}
#zone-content .views-exposed-filter-block .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget {
  max-height: 280px;
}
.view-gta-videos.view-display-id-page .views-row {
  height: auto;
}
.view-gta-videos.view-display-id-page .views-row:nth-child(4n+1) {
  clear: none;
}
.view-gta-videos.view-display-id-page .views-row:nth-child(3n+1) {
  clear: left;
}
.page-node.node-type-location .grid-16 article.node-location {
  /* no sidebars */
}
.page-node.node-type-location .grid-16 article.node-location .location-details {
  float: left;
  padding-right: 14px;
  width: 426px;
}
.page-node.node-type-location .grid-16 article.node-location .location-map {
  float: left;
  width: 500px;
}
.page-node.node-type-location .grid-13 article.node-location {
  /* sidebar second only */
}
.page-node.node-type-location .grid-13 article.node-location .location-details {
  float: left;
  padding-right: 14px;
  width: 330px;
}
.page-node.node-type-location .grid-13 article.node-location .location-map {
  float: left;
  width: 396px;
}
.page-node.node-type-location .grid-9 article.node-location {
  /* sidebar first and sidebar second */
}
.page-node.node-type-location .grid-9 article.node-location .location-details {
  float: none;
  padding-right: 0;
  width: auto;
}
.page-node.node-type-location .grid-9 article.node-location .location-map {
  float: none;
  width: auto;
}
#block-menu-menu-utility-footer {
  display: none;
}
.search-results-cluster ul li {
  clear: none;
}
